
body{
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  display: flex;
}
.memory-match-container{
  width: 100vw;
  height: 100vh;
  display: flex;
}
.backgroundVideo{
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.welcome-page{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.welcome-title{
  text-align: center;
  color: white;
  height: 90px;
  margin-top: 55px;
  font-size: 3rem;
}

.blink{
  cursor: pointer;
	text-decoration: blink;
	animation-name: blinker;
	animation-duration: 0.6s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	animation-direction: alternate;
}

.blink:hover{
  animation-name: none;
  transition-duration: 2s;
}

.difficulty-title{
  text-align: center;
  font-size: 2em;
  color: white;
  width: 100%;
}

.difficulty-select{
  width: 100%;
  height: 34%;
  margin-top: 5%;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  box-shadow:
      0  -5px 0 red,    0  5px 0 red,
      0 -10px 0 yellow, 0 10px 0 yellow,
      0 -15px 0 green,  0 15px 0 green,
      0 -20px 0 purple, 0 20px 0 purple;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

.selection-container{
  display: none;
  margin: auto;
  text-align: center;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  box-shadow:
  0  -5px 0 red,    0  5px 0 red,
  0 -10px 0 yellow, 0 10px 0 yellow,
  0 -15px 0 green,  0 15px 0 green,
  0 -20px 0 purple, 0 20px 0 purple;
  color: white;
  width: 50%;
}

.selection-container :nth-child(1){
  font-size: 2rem;
}
.selection-container :nth-child(2){
  border: white 10px solid;
  margin: auto;
  width: 50%;
  margin-top: 10%;
  padding: 10px;
  cursor: pointer;
}

.difficulty-level{
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.difficulty-level>span{
  cursor: pointer;
  border: 1px solid white;
  margin: 5%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 6px 6px white;
}
.difficulty-level>span:hover{
  box-shadow: 7px 7px white;
}

.body-container{
  font-size: 1rem;
  color: white;
  display: none;
  height: 100%;
  width: 100%;
}

.body-container > header{
  height: 10%;
  text-align: center;
  margin-top: 2%;
  font-size: 1.5rem;
}

.main-menu{
  text-align: center;
  cursor: pointer;
  margin-top: 20px;;
}

@keyframes hvr-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}

.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  animation-name: hvr-pulse;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.main-section{
  display: flex;
  height: 77%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 3.7rem;
}
aside.stats{
  height: 80%;
  width: 25%;
  margin: 3%;
  font-size: 20%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
aside .stats-box{
  border: 1px solid white;
  height: 10%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main{
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 97%;
}
.cards{
height: 11vw;
width: 16%;
margin: auto;
position: relative;
cursor: pointer;
border-radius: 10px;
box-shadow: rgb(53, 55, 211) 0px 0px 20px 0px;
}

.front{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
}
.saturn{
  background-image: url("/assets/stars/saturn.png");
}
.mercury{
  background-image: url("/assets/stars/mercury.png");
}
.moon{
  background-image: url("/assets/stars/moon.png");
}
.neptune{
  background-image: url("/assets/stars/neptune.png");
}
.pluto{
  background-image: url("/assets/stars/pluto.png");
}
.sun{
  background-image: url("/assets/stars/sun.png");
}
.uranus{
  background-image: url("/assets/stars/uranus.png");
}
.venus{
  background-image: url("/assets/stars/venus.png");
}
.asteroid{
  background-image: url("/assets/stars/asteroid.png");
}
.earth{
  background-image: url("/assets/stars/earth.png");
}
.jupiter{
  background-image: url("/assets/stars/jupiter.png");
}
.mars{
  background-image: url("/assets/stars/mars.png");
}
.back{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-image: url("/assets/stars/card-back.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
}
.hidden{
  display: none;
}

.end-page{
  display: none;
  color: white;
  height: 100%;
  background-image: url(https://media3.giphy.com/media/JYVMtRL4fQaAg/source.gif);
  width: 100%;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.end-page :nth-child(2){
  font-size: 2rem;
  color: mediumspringgreen;
}

.play-again{
  cursor: pointer;
  margin-top: 25px;
}

.fadeIn{
  animation: fadein 0.75s ease-in-out;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.end-page :nth-child(1) {
  font-size: 4rem;
  margin-top: 30px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 900;
  text-decoration: none;
  color: white;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(45deg,
                    #7794ff,
                    #44107A,
                    #FF1361,
                    #FFF800);
  animation: .8s shake infinite alternate;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }
}

@media only screen and (max-width: 736px) {

  .welcome-title{
    font-size: 2rem;
  }
  .difficulty-select{
    height: 60vh;
    width: 100vw
  }
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
  .difficulty-select{
    font-size: 2rem;
    height: 55%;
    margin-top: 28%;
  }
  .welcome-title{
    font-size: 6rem;
  }
  .selection-container{
    width: 70%;
    height: 40%;
    font-size: 3rem;
  }

  .selection-container :nth-child(1) {
    font-size: 7rem;

}
.body-container > header {
    font-size: 4rem;
    margin-bottom: 8%;
}

.body-container{
  font-size: 3rem;
}

main{
  height: 80%;
}
.cards{
  width: 16%;
  height: 16%;
}
end-page :nth-child(1) {
    margin-top: 300px;
}
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {
    .difficulty-select{
    font-size: 2rem;
    height: 65%;
  }
  .selection-container{
    width: 70%;
    height: 40%;
    font-size: 3rem;
  }
    .selection-container :nth-child(1) {
    font-size: 4rem;

}
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .difficulty-select{
    font-size: 2rem;
    height: 65%;
     margin-top: 35%;
  }
  .welcome-title{
    font-size: 8rem;
  }
  .selection-container{
    width: 70%;
    height: 40%;
    font-size: 3rem;
  }
  .selection-container :nth-child(1) {
  font-size: 4rem;
  margin-top: 200px;

}
.body-container > header {
    font-size: 4rem;
    margin-bottom: 8%;
}

.body-container{
  font-size: 3rem;
}

.main-section{
  font-size: 6.7rem;
}

main{
  height: 80%;
}
.cards-container{
  height: 56%;
}
.cards{
  height: 30%;
}
}
