body{
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  height: 100vh;

}
.welcome-page{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.start-game-button-container{
  display: none;
  width: 100%;
  display: flex;
  justify-content: center;

}
.body-container{
  font-size: 1rem;
  color: white;
  display: none;
}
div.background{
  height: 100vw;
  position: relative;
  width: 100%;
}
#backgroundVideo{
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
header{
  height: 20%;
  text-align: center;
}
.welcome-title{
  text-align: center;
  font-size: 2em;
  color: white;
  height: 10%;
  margin-top: 6%;
}

.difficulty-title{
  text-align: center;
  font-size: 2em;
  color: white;
  width: 100%;
}
header>h2{
  border: 1px solid white;
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  display: inline;
}
header>h2:hover{
  background-color: black;
  border: 2px solid white;
  cursor: pointer;
}

.difficulty-level{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.difficulty-level>span{
  cursor: pointer;
  border: 1px solid white;
  margin: 5%;
  padding: 3%;
  border-radius: 5px;
  box-shadow: 6px 6px white;
}
.difficulty-level>span:hover{
  box-shadow: 7px 7px white;
}
.difficulty-select{
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  color: white;
  height: 15%;
}
.main-section{
  display: flex;
  height: 77%;
  justify-content: center;
  align-items: center;
  font-size: 3.7em;
}
aside.stats{
  height: 80%;
  width: 30%;
  margin: 3%;
  font-size: 25%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
aside .stats-box{
  border: 1px solid white;
  height: 10%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main{
  height: 90%;
  width: 100vh;
  display: flex;
  justify-content: center;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}
.cards{
height: 20%;
width: 16%;
margin: auto;
position: relative;
}
.front{
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.saturn{
  background-image: url("/assets/stars/saturn.png");
}
.mercury{
  background-image: url("/assets/stars/mercury.png");
}
.moon{
  background-image: url("/assets/stars/moon.png");
}
.neptune{
  background-image: url("/assets/stars/neptune.png");
}
.pluto{
  background-image: url("/assets/stars/pluto.png");
}
.sun{
  background-image: url("/assets/stars/sun.png");
}
.uranus{
  background-image: url("/assets/stars/uranus.png");
}
.venus{
  background-image: url("/assets/stars/venus.png");
}
.asteroid{
  background-image: url("/assets/stars/asteroid.png");
}
.earth{
  background-image: url("/assets/stars/earth.png");
}
.jupiter{
  background-image: url("/assets/stars/jupiter.png");
}
.mars{
  background-image: url("/assets/stars/mars.png");
}
.back{
  height: 100%;
  width: 100%;
  background-image: url("/assets/stars/card-back.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.hidden{
  display: none;
}
.modal{
  display: none;
  width: 70%;
  height: 100%;
  background-color: rgba(94, 64, 202, 0.3);
  border-radius: 7px;
  justify-content: center;
  text-align: center;
  float: right;
  position: fixed;
  width: 500px;
  height: 200px;
  margin: auto;
  transform: translate(50%, 50%);
  top: 34%;
}
.modal-content{
  background-color: rgba(224, 64, 96, 0.2);
  border-radius: 3px;
}
.close{
  float: right;
  font-weight: bold;
}
.close:hover,
.close:focus{
  color: aqua;
  cursor: pointer;
}

@media only screen and (min-width: 1017px){

}
