body{
  margin: 0;
  font-family: 'Press Start 2P', cursive;
  display: flex;

}
.memory-match-container{
  width: 100vw;
  height: 100vh;
  display: flex;
}
.backgroundVideo{
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.welcome-page{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.welcome-title{
  text-align: center;
  color: white;
  height: 20%;
  margin-top: 4%;
  font-size: 2rem;
}

.typewriter h1{
  overflow: hidden;
  border-right: .15em solid white;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation:
  typing 3.5s steps(30, end),
  blinking-cursor .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: silver; }
}

@keyframes blinker {
  from {opacity: 1.0;}
  to {opacity: 0.0;}
}

.blink{
  cursor: pointer;
	text-decoration: blink;
	animation-name: blinker;
	animation-duration: 0.6s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	animation-direction: alternate;
}

.blink:hover{
  animation-name: none;
  transition-duration: 2s;
}

.difficulty-title{
  text-align: center;
  font-size: 2em;
  color: white;
  width: 100%;
}

.difficulty-select{
  width:90%;
  height: 50%;
  background: rgb(173, 164, 230,0.2);
  margin-top: 5%;
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  box-shadow:
      0  -5px 0 red,    0  5px 0 red,
      0 -10px 0 yellow, 0 10px 0 yellow,
      0 -15px 0 green,  0 15px 0 green,
      0 -20px 0 purple, 0 20px 0 purple;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  color: white;
}

.selection-container{
  display: none;
  margin: auto;
  text-align: center;
  background: rgb(173, 164, 230,0.2);
  border-top: 5px solid blue;
  border-bottom: 5px solid blue;
  box-shadow:
  0  -5px 0 red,    0  5px 0 red,
  0 -10px 0 yellow, 0 10px 0 yellow,
  0 -15px 0 green,  0 15px 0 green,
  0 -20px 0 purple, 0 20px 0 purple;
  color: white;
  width: 50%;
}

.selection-container :nth-child(1){
  font-size: 2rem;
}
.selection-container :nth-child(2){
  border: white 10px solid;
  margin: auto;
  width: 50%;
  margin-top: 10%;
  padding: 10px;
  cursor: pointer;
}

.difficulty-level{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.difficulty-level>span{
  cursor: pointer;
  border: 1px solid white;
  margin: 5%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 6px 6px white;
}
.difficulty-level>span:hover{
  box-shadow: 7px 7px white;
}

.body-container{
  font-size: 1rem;
  color: white;
  display: none;
  height: 100%;
  width: 100%;
}

.body-container > header{
  height: 7%;
  text-align: center;
  margin-top: 2%;
}

.main-menu{
  text-align: center;
}
.main-section{
  display: flex;
  height: 77%;
  justify-content: center;
  align-items: center;
  font-size: 3.7em;
}
aside.stats{
  height: 80%;
  width: 30%;
  margin: 3%;
  font-size: 25%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
aside .stats-box{
  border: 1px solid white;
  height: 10%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main{
  width: 100vh;
  display: flex;
  justify-content: center;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.cards{
height: 11vw;
width: 16%;
margin: auto;
position: relative;
}
.front{
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.saturn{
  background-image: url("/assets/stars/saturn.png");
}
.mercury{
  background-image: url("/assets/stars/mercury.png");
}
.moon{
  background-image: url("/assets/stars/moon.png");
}
.neptune{
  background-image: url("/assets/stars/neptune.png");
}
.pluto{
  background-image: url("/assets/stars/pluto.png");
}
.sun{
  background-image: url("/assets/stars/sun.png");
}
.uranus{
  background-image: url("/assets/stars/uranus.png");
}
.venus{
  background-image: url("/assets/stars/venus.png");
}
.asteroid{
  background-image: url("/assets/stars/asteroid.png");
}
.earth{
  background-image: url("/assets/stars/earth.png");
}
.jupiter{
  background-image: url("/assets/stars/jupiter.png");
}
.mars{
  background-image: url("/assets/stars/mars.png");
}
.back{
  height: 100%;
  width: 100%;
  background-image: url("https://media3.giphy.com/media/JYVMtRL4fQaAg/source.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
}
.hidden{
  display: none;
}
.modal{
  display: none;
  width: 70%;
  height: 100%;
  background-color: rgba(94, 64, 202, 0.3);
  border-radius: 7px;
  justify-content: center;
  text-align: center;
  float: right;
  position: fixed;
  width: 500px;
  height: 200px;
  margin: auto;
  transform: translate(50%, 50%);
  top: 34%;
}
.modal-content{
  background-color: rgba(224, 64, 96, 0.2);
  border-radius: 3px;
}
.close{
  float: right;
  font-weight: bold;
}
.close:hover,
.close:focus{
  color: aqua;
  cursor: pointer;
}

@media only screen and (min-width: 1017px){

}
